* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

  background-color: #05668d;
  opacity: 0.9;
}

img {
  height: 36px;
}

button {
  cursor: pointer;
}
