<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typescript EJS</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!--     <header>
      <img src="/assets/logo.svg" alt="Logo" />
      <span class="registerBtn">Cadastre-se</span>
    </header> -->
    <div class="loginContainer">
      <div class="loginBox">
        <div class="loginBoxInfo">
          <p class="loginBoxTitle">Administre as finanças do seu negócio com o</p>
          <img src="/assets/logoAlternative.svg" alt="Logo" />
        </div>
        <form>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Digite seu e-mail"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Digite sua senha"
          />
          <button type="submit">Login</button>
        </form>
        <span class="registerBtn">Cadastre-se</span>
      </div>
    </div>
    <footer>
      <p>
        <a href="https://github.com/jamezaguiar/typescript-ejs" target="blank">
          Repositório no Github
        </a>
        / Desenvolvido por:
        <a href="https://github.com/jamezaguiar" target="blank">
          Jamerson Aguiar
        </a>
        <a href="" target="blank">Rafael Viana</a>
      </p>
    </footer>
  </body>
</html>
