<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typescript EJS</title>
</head>
<body>
  <h1>Estou usando EJS com Typescript</h1>
</body>
</html>
